@model DCMS.Models.Setup.User

@{
    ViewData["Title"] = "AddUser";
    Layout = null;
}
@using DCMS.Data;
@using Microsoft.EntityFrameworkCore;
@inject DCMSDbContext _context;
@{
    ViewBag.role = _context;
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="UserRegister">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                @{
                    List<DCMS.Models.Setup.Role> Rolelist = _context.Roles.ToList();
                }
                <select asp-for="RoleId" class="form-control" value=RoleId class="form-control">
                    @{
                        foreach (DCMS.Models.Setup.Role s in Rolelist)
                        {
                            <option asp-for="RoleId" value="@s.Id">@s.Name</option>
                        }
                    }

                </select>
            </div>
          <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
